server {
    listen      80;
    server_name app.com www.app.com;

    root {{ server_root_directory }};

    location / {
        index index.html;
    }

    location /api/ {
        proxy_pass http://localhost:3000;
    }
}
